/* Override Bootstrap theme */
:root {
  --bs-font-sans-serif: 'Roboto', system-ui, -apple-system, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}


.blue {
  color: #00cec9;
}
.img-fluid {
  height: 65%;
  width: 65%;
  margin-left: auto;
  display: block;
}

/********************/
/*    Customers     */
/********************/
.slider-1 {
  padding-top: 2rem;
  padding-bottom: 3.75rem;
  background: linear-gradient(rgb(238, 238, 238), rgb(144, 173, 198));
  text-align: center;
}

.slider-1 h4 {
  margin-bottom: 0.25rem;
}

.slider-1 .section-divider {
  margin-bottom: 1rem;
}

.slider-1 .slider-container {
  margin-bottom: 0.5rem;
  padding: 1rem 0;
}

/* Min-width 1200px */
@media (min-width: 1200px) {

  /* General Styles */
  .container {
    max-width: 1140px;
  }

  /* end of general styles */
}