/* Override Bootstrap theme */
/* DO NOT REMOVE */
:root {
  --bs-font-sans-serif: 'Roboto', system-ui, -apple-system, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img, svg {
  vertical-align: middle;
}


/********************/
/*    Customers     */
/********************/

.text-grey {
  color: #e11212;
}

.slider-1 {
  padding-top: 2rem;
  padding-bottom: 3.75rem;
  background: #eeeeee;
  text-align: center;
}

.slider-1 h4 {
  margin-bottom: 0.25rem;
}

.slider-1 .section-divider {
  margin-bottom: 1rem;
}

.slider-1 .slider-container {
  margin-bottom: 0.5rem;
  padding: 1rem 0;
}

.swiper-container {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
}

.swiper-slide {
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform, -webkit-transform;
}

.swiper-container-android .swiper-slide, .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
  transform: translate3d(0px, 0, 0);
}
